<h1>The results are in!</h1>

<% down_text = @response.downcase.gsub(/[^\w\s\d]/, '') %>
<% down_text = down_text.split(" ") %>
<%= down_text %>

<br>

<% mem_text = @memory.memory_monologue.downcase.gsub(/[^\w\s\d]/, '') %>
<% mem_text = mem_text.split(" ") %>
<%= mem_text %>

<br>



<br>

<% green_words = [] %>
<% down_text.each_with_index do |word, index| %>
  <% mem_text.each do |mem| %>
    <% if word == mem %>
      <% green_words << word %>
    <% elsif word != mem %>
      <% green_words.each do |green| %>
        <% if green == word %>
      <% green_words << "" %>
    <% end %>
  <% end %>
<% end %>

<% green_words.each do |word| %>
  <span class="green"><%= word %></span>
<% end %>
