.user-header {
  padding-top: none;
  color: white;
  font-weight: bold;
}

.user-container {
  background-color: rgba(1, 1, 1, 0.7);
  padding: 20px;
  width: 40%;
}

.delete-user {
  margin-bottom: 5px;
}

.user-link {
  text-decoration: none;
  color: #ef6c00;
}

.individual-user {
  font-family: 'Chonburi', cursive;
}
