html, body {
  height: 100%;
}

.form-labels {
  font-size: 25px;
}

.form-fields {
  font-size: 15px;
}

.login-image {
  background-image: url(/assets/theatre.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  height: 100%;
  min-height: 1000px;
}

.signup-image {
  background-image: url(/assets/theatre.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 25px;
  height: 100%;
  min-height: 1000px;
}

$body-bg: transparent;

.login-header {
  padding-top: none;
  color: white;
}

.notice {
  padding-left: 10px;
  font-size: 20px;
}

.alert {
  padding-left: 10px;
  font-size: 20px;
}

#error_explanation ul li{
  text-align: center;
  display: list-item;
  color: white;
}

#error_explanation h2{
  font-size: 20px;
  text-align: center;
  margin: 0px;
  color: white;
}

label {
  color: white;
}

input {
  color: white;
}

.shared-white {
  color: white;
}

.login-form {
  background-color: rgba(1, 1, 1, 0.6);
  padding: 20px;
  width: 40%;
}

.picture-upload {
  padding: 20px;
}

 em {
   color: white;
   font-size: 15px;
 }
