.new-monologue-image {
  background-image: url(/assets/theatre2.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 25px;
  height: 100%;
  min-height: 1000px;
}

.monologue-form {
  background-color: rgba(1, 1, 1, 0.6);
  padding: 20px;
  width: 50%;
}

.monologue-header {
  padding-top: none;
  color: white;
}

.text-upload {
  padding-bottom: 20px;
}
