<h1><%= @monologue.play_title %></h1>

<h3>Page Number: <%= @monologue.page_number %></h3>

<div class="monologue-text">
  <%= @response %>
</div>

<h2><%= link_to 'Test Your Memory!', new_monologue_memory_path(@monologue.id) %></h2>
